 /* FONTE PARA TITULOS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

 /* FONTE PARA PARÁGRAFOS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');


  /* COMEÇO DO STYLE TITULO DA PÁGINA */

* {
    margin: 0;
    padding: 0;
  }



    /* FUNDO DA PÁGINA  */
  body {
    background-image: url(assets/img/img-home.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans";
    align-items: center;
    overflow-x: hidden; 
    touch-action: pan-y;
  }
  

  /* TITULO DA PÁGINA  */
.titulo {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200;
  z-index: -1;
  font-size: 34px;
  color: #fff;
}

  /* AJUSTAR TELA  */
@media screen and (max-width: 1300px) {
  .titulo {
    font-size: 20px; 
    max-width: 95%;
  }
}

@media screen and (max-width: 820px) {
  .titulo {
    font-size: 15px; 
    max-width: 95%;
  }
}

   /* NÃO MEXER */
  .logo {
    max-width: 250px;
    padding: 0px;
    margin-left: auto; 
    align-items: right; 
   }

  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    background: #23232e;
    height: 11vh;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;
    font-size: 20 px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 1300px) {
    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 62vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 999;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* NÃO MEXER */

 /* FIM DO STYLE TITULO DA PÁGINA */

 /* COMEÇO DO STYLE DA ONDA DA PÁGINA */



 /* FUNDO DA PAGINA BRANCA E ONDA */

 /* NÃO MEXER */
 .conteudo{
    padding-top: 100px;
    background-color: #ffffff;
}

.conteudo h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.conteudo p{
    font-size: 1.5em;
}

section.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(assets/img/wave.png);
    background-size: 1000px 100px;

    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400;
}
#onda2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

 /* COMEÇO DO CONTEÚDO DA PÁGINA */


 /* IMAGEM E TITULO */
 .secao1-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3.5rem 5%;
  margin-bottom: -100px;
}


.secao1-home h2 {
  font-size: clamp(1.5rem, 1vw + 1.2rem, 1.3rem);
  padding-bottom: 5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.secao1-home p, .secao2-home p{
    text-align: left;
    font-family: 'Open Sans';
    padding-bottom: 3.5rem;
    font-size: 20px;
    margin-top: -50px;
  }

  .secao1-home img {
    width: auto;
    max-width: 680px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

main span {
  color: #04C4CC;
  font-family: sans-serif;
}

@media screen and (max-width: 1300px) {
  .conteudo > .secao1-home {
    display: grid;
    place-items: center; /* Centraliza os itens horizontal e verticalmente */
    
  }

  .secao1-home h1-container {
    width: 100%;
    text-align: justify;
  }

  .secao1-home h2 {
    font-size: clamp(1rem, 1vw + 2rem, 2.6em);
    margin-top: -40px;
    text-align: center; /* Centraliza o texto */
  }

  .secao1-home div,
  .secao1-home img {
    max-width: 80%;
    width: 100%;
    margin: 0 auto; /* Centraliza a imagem */
  }

  .secao1-home p {
    width: 100%;
    text-align: justify;
    font-size: 20px;
    justify-content: left;
  }
} 


@media screen and (max-width: 825px) {
  .conteudo > .secao1-home  {
    display: grid;
  
  }

  .secao1-home h2 {
    font-size: clamp(2rem, 1vw + 1rem, 1rem);
    margin-top: 20px;
  }

  .secao1-home div, .secao1-home img {
    max-width: 100%;
    width: 100%;
    margin-top: -20px;
  }

  .secao1-home p {
    width: 100%; 
    text-align: justify;
    font-size: 20px;
    justify-content: left;
  }
}


 /* IMAGEM E TITULO 2*/
.secao2-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3.5rem 5%;
  margin-top: 100px;
}

.secao2-home h2-container {
  width: 100%;
  text-align: center;
}

.secao2-home h2 {
  font-size: clamp(1.5rem, 1vw + 1.2rem, 1.3rem); 
  padding-bottom: 5rem; 
  font-family: 'Open Sans', sans-serif;
  text-align: center; 
  margin-top: 50p;

}

.secao2-home img {
  width: auto;
  max-width: 680px;
  height: auto;
  border-radius: 5%;
  margin-top: -50px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1300px) {
  .conteudo > .secao2-home {
    display: grid;
    margin-top: 300px;
    place-items: center; /* Centraliza os itens horizontal e verticalmente */
    
    
  }

  .secao2-home h2-container {
    width: 100%;
    text-align: justify;
    
   
  }

  .secao2-home h2 {
    font-size: clamp(1rem, 1vw + 2rem, 2.6em); 
    margin-top: 100px;
    text-align: center;
  }

  .secao2-home div,
  .secao2-home img {
    max-width: 80%;
    width: 100%;
    margin: 0 auto; /* Centraliza a imagem */
  }

  .secao2-home p {
    text-align: justify;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    justify-content: left;
  }
}

@media screen and (max-width: 825px) {
  .conteudo > .secao2-home  {
    display: grid;
  
  }

  .secao2-home h2 {
    font-size: clamp(2rem, 1vw + 1rem, 1rem);
    margin-top: 20px;
  }

  .secao2-home div, .secao2-home img {
    max-width: 100%;
    width: 100%;
    margin-top: -20px;
  }

  .secao2-home p {
    width: 100%; 
    text-align: justify;
    font-size: 20px;
    justify-content: left;
  }
}

/* FIM DAS SEÇÇÕES */


/* COMEÇO DAS COLUNAS */

 /* COLUNA DAS IMAGENS*/
 
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 20px;
}

.img-coluna {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin: 5px 0;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.p-coluna {
  margin-top: 8px;
  text-align: justify;
  font-family: "Open Sans";
  font-size: 16px; 
}

.h2-nova-classe {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px; 
}

.conteudo .column h2 {
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  .conteudo > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    place-items: center; /* Centraliza os itens horizontal e verticalmente */
  }

  .container,
  .img-coluna {
    max-width: 60%;
    width: auto;
    margin: 0 auto; /* Centraliza a imagem */
  }

  .p-coluna {
    width: 100%;
    text-align: justify;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 825px) {
  .conteudo > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    place-items: center;
  }

  .container,
  .img-coluna {
    margin: 30px 10%;
    max-width: 80%;
    width: auto;
    margin: 0 auto;
  }

  .p-coluna {
    width: 100%;
    text-align: justify;
  }
}

/* FIM DAS COLUNAS */

/* COMEÇO DA IMAGEM FINAL */


 /* IMAGEM FINAL */
.imagem-final-container {
  max-width: 100%;
  overflow: hidden;
  margin-top: 100px;
}

.imagem-final {
  object-fit: cover;
  width: 100%; /* Use a largura desejada ou um valor percentual menor para reduzir o tamanho */
  height: 500px; /* A altura ajustará automaticamente para manter a proporção original */
}

.texto-final {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(20px, 1.5vw, 20px);
  text-align: justify;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}

@media screen and (max-width: 1300px) {
  .imagem-final {
    height: 300px; 
  }

  .texto-final {
    padding: 10px;
  }
}

@media screen and (max-width: 825px) {
  .imagem-final {
    height: 300px; 
    margin-top: 60px;
  }

  .texto-final {
    padding: 10px;
    font-size: clamp(15px, 1.5vw, 20px);
    text-align: justify;
    margin-top: 50px;
  }
}

/* RODAPÉ FINAL */









/* NÃO MEXER */

.rodape-final {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.redes-sociais {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex; 
}

.redes-sociais a {
  margin-left: 10px; 
}

.redes-sociais img {
  width: 80px;
  max-width: 100px;
}

.texto-rodape {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: justify;
  margin-top: 70px;
  font-size: clamp(20px, 4vw, 35px); 
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px; 
}

@media screen and (max-width: 1300px) {
  .redes-sociais {
    position: static;
    margin-top: 20px; 
  }

  .redes-sociais a {
    margin-left: 0;
  }

  .texto-rodape {
    text-align: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    font-size: clamp(20px, 4vw, 35px);
    margin-top: 10px;
  }
}
/* NÃO MEXER */

/* FIM RODAPÉ FINAL */

/*CONTÚDO ECONOMIA*/



