 /* FONTE PARA TITULOS */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

 /* FONTE PARA PARÁGRAFOS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');


  /* COMEÇO DO STYLE TITULO DA PÁGINA */

* {
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url('img/img-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans";
    align-items: center;

  }

  .titulo{
    width: 50%;
    height: 50%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans" sans-serif;
    
    position: fixed;
    z-index: -1;
  
    font-size: 20px;
    color: #fff;
  }

  .logo {
    max-width: 250px;
    padding: 0px;
    margin-left: auto; 
    align-items: right; 
   }

  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    background: #23232e;
    height: 11vh;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;
    font-size: 20 px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 1200px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 62vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

 /* FIM DO STYLE TITULO DA PÁGINA */

 /* COMEÇO DO STYLE DA ONDA DA PÁGINA */

.conteudo{
    padding: 100px;
    background-color: #fff;
}

.conteudo h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.conteudo p{
    font-size: 1.5em;
}

section.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(img/wave.png);
    background-size: 1000px 100px;

    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}